:root {
  --mainColor: #a377aa;
  --mainColor10: #a377aa10;
  --mainColor30: #a377aa30;
  --secondColor: #0d0d23;
  --secondColor10: #0d0d2310;
  --secondColor30: #0d0d2330;
  --gold: #ffd700;
  --whiteColor: #ffffff;
  --blackColor: #1f1f1f;
  --bodyColor: #f3f3f9;
  --textColor: #898989;
  --transition: all 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
  --headerBackgroundColor: var(--whiteColor);
}

@font-face {
  font-family: IBMPlexSansArabic;
  font-display: swap;
  src: url(../webfonts/IBMPlexSansArabic-Regular.ttf);
}
* {
  font-family: "IBMPlexSansArabic", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #060624;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(163, 119, 170, 0.1882352941);
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 150px;
}

a {
  text-decoration: none;
  transition: var(--transition) !important;
  color: var(--blackColor);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 300;
  color: var(--whiteColor);
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background: url(../img/BG.jpg);
  background-size: cover;
  overflow-x: hidden;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}

.fancybox__container {
  z-index: 1999;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  float: none !important;
}
.form-check-input:checked {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 89, 91, 0.1882352941);
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper-wrapper {
  height: auto;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.swiperContainer .swiperControl {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
}
.swiperContainer .swiperControl .swiperNext,
.swiperContainer .swiperControl .swiperPrev {
  transform: scaleX(-1);
  position: relative;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  transition: var(--transition);
}
.swiperContainer .swiperControl .swiperNext::after,
.swiperContainer .swiperControl .swiperPrev::after {
  content: "" !important;
  background-image: url(../img/icons/arrow.svg);
  background-size: contain;
  width: 12px;
  height: 12px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: var(--transition);
}
.swiperContainer .swiperControl .swiperNext:hover,
.swiperContainer .swiperControl .swiperPrev:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
}
.swiperContainer .swiperControl .swiperNext.swiper-button-disabled,
.swiperContainer .swiperControl .swiperPrev.swiper-button-disabled {
  opacity: 0.5;
}
.swiperContainer .swiperControl .swiperPrev::after {
  transform: scaleX(-1);
}
.swiperContainer .swiperControl .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  right: unset;
  bottom: unset;
  z-index: unset;
  height: 10px;
  width: 100%;
  flex: 1;
  background-color: var(--secondColor);
}
.swiperContainer .swiperControl .swiper-scrollbar.swiper-scrollbar-horizontal .swiper-scrollbar-drag {
  background-color: var(--mainColor);
  cursor: pointer;
}
.swiperContainer .swiperControl .swiperPagination {
  display: inline-flex;
  align-items: center;
  color: var(--whiteColor);
}
.swiperContainer .swiperControl .swiperPagination .swiper-pagination-current {
  font-size: 30px;
  font-weight: bold;
  margin: 0px 8px;
}
.swiperContainer .swiperControl .swiperPagination .swiper-pagination-total {
  font-size: 20px;
  margin: 0px 8px;
  opacity: 0.6;
}
.swiperContainer .swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 2px;
  padding: 0px 10px;
  transition: var(--transition);
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet {
  transition: var(--transition);
  width: 16px;
  border-radius: 2px;
  opacity: 0.3;
  background-color: var(--mainColor);
  margin: 2px !important;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--mainColor);
  width: 40px;
  opacity: 1;
  transition: var(--transition);
}

.select2-container--default .select2-selection--single {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
}

.select2 {
  min-width: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 1px;
  left: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 0px;
  margin-bottom: 2px;
  padding: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--secondColor) !important;
  color: var(--whiteColor) !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: var(--BigShadow) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0px;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: rtl !important;
}

.fancybox__caption {
  text-align: center;
}

.filepond--credits {
  display: none !important;
}

.filepond--image-clip {
  direction: rtl !important;
}

content {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 200px;
}
@media (max-width: 768px) {
  content {
    gap: 140px;
  }
}

.btn {
  padding: 12px 24px;
  border: 1px solid var(--whiteColor);
  background: transparent;
  color: var(--whiteColor);
  border-radius: 100px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: var(--transition);
}
.btn .icon {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}
.btn:hover .icon {
  filter: invert(1);
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputField label {
  color: var(--textColor);
}

.checkBoxField {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  min-width: 150px;
}
.checkBoxField label {
  cursor: pointer;
}
.checkBoxField input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.inputForm {
  border: 1px solid #eee;
  min-height: 54px;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 0 10px;
  min-width: 100px;
}

textarea.inputForm {
  padding: 10px;
}

::-moz-placeholder {
  font-size: 12px !important;
}

::placeholder {
  font-size: 12px !important;
}

header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1024;
  transition: background 0.3s ease-in-out;
  background-color: transparent;
}
@media (max-width: 576px) {
  header {
    background-color: var(--secondColor);
  }
}
header nav {
  width: min(100% - 20px, 1320px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 16px 0;
  gap: 8px;
}
header nav .logo {
  margin: auto 0;
}
header nav .logo img {
  height: 60px;
  transition: var(--transition);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 576px) {
  header nav .logo img {
    height: 50px;
  }
}
header nav .navMenu {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 6px;
  transition: var(--transition);
  align-items: center;
}
header nav .navMenu .navLink {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  color: var(--whiteColor);
  border-radius: 100px;
  min-width: 72px;
  justify-content: center;
}
header nav .navMenu .navLink.active, header nav .navMenu .navLink:hover {
  background-color: var(--mainColor30);
}
@media (max-width: 992px) {
  header nav .navMenu {
    position: fixed;
    z-index: -1;
    right: -100%;
    top: 0px;
    width: 100%;
    height: 100vh;
    padding: 60px 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondColor);
    align-items: center;
  }
  header nav .navMenu .navLink {
    text-align: center;
    justify-content: center;
  }
}
header nav .navMenu.active {
  right: 0;
}
header nav .navBtn {
  margin: auto 0;
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}
header nav .navBtn span {
  position: absolute;
  right: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 4px 0;
  transition: var(--transition);
}
header nav .navBtn span:first-child {
  top: 0;
}
header nav .navBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
header nav .navBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
header nav .navBtn:not(.active):hover span:first-child {
  width: 16px;
}
header nav .navBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
header nav .navBtn.active span {
  background-color: var(--mainColor) !important;
}
header nav .navBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
header nav .navBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
header nav .navBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
@media (min-width: 992px) {
  header nav .navBtn {
    display: none;
  }
}

.headerAnimate {
  box-shadow: var(--BigShadow);
  padding: 0 5px;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background: rgba(13, 13, 35, 0.7843137255);
}

.mainIntro {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 72px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 72px;
}
.mainIntro .col.info {
  flex: 4 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .mainIntro .col.info {
    text-align: center;
    align-items: center;
  }
}
.mainIntro .col.info .title {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  line-height: 40px;
  font-size: 24px;
}
@media (max-width: 768px) {
  .mainIntro .col.info .title {
    font-size: 16px;
    line-height: 30px;
  }
}
.mainIntro .col.info p {
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .mainIntro .col.info p {
    margin-top: 20px;
  }
}
.mainIntro .col.img {
  display: flex;
  flex: 3 300px;
  justify-content: end;
}
@media (max-width: 768px) {
  .mainIntro .col.img {
    justify-content: center;
  }
}
.mainIntro .col.img img {
  background-color: #28283c;
  height: 500px;
  aspect-ratio: 8/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 72px;
}
@media (max-width: 768px) {
  .mainIntro .col.img img {
    height: 350px;
  }
}

.departments {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .departments {
    gap: 16px;
  }
}
.departments .col {
  flex: 1 200px;
}
@media (max-width: 768px) {
  .departments .col {
    flex: 1 150px;
  }
}
.departments .col .department {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(35, 33, 65, 0.6);
  border-radius: 60px;
  padding: 48px 32px;
  text-align: center;
  color: var(--whiteColor);
}
@media (max-width: 768px) {
  .departments .col .department {
    padding: 24px 16px;
    border-radius: 20px;
  }
}
.departments .col .department img {
  height: 80px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .departments .col .department img {
    height: 60px;
  }
}
.departments .col .department .title {
  font-weight: bold;
}

.counters {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.counters .col.img {
  display: flex;
  justify-content: start;
  flex: 1 300px;
}
@media (max-width: 768px) {
  .counters .col.img {
    justify-content: center;
  }
}
.counters .col.img img {
  background-color: #28283c;
  height: 500px;
  aspect-ratio: 8/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 72px;
}
@media (max-width: 768px) {
  .counters .col.img img {
    height: 300px;
  }
}
.counters .col.info {
  flex: 1 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.counters .col.info .title {
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 768px) {
  .counters .col.info .title {
    font-size: 24px;
  }
}
.counters .col.info .allCounts {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.counters .col.info .allCounts .single {
  flex: 1 100px;
  display: flex;
  flex-direction: column;
}
.counters .col.info .allCounts .single .countDiv {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--whiteColor);
}
.counters .col.info .allCounts .single .countDiv p {
  color: rgba(255, 255, 255, 0.8);
}
.counters .col.info .allCounts .single .countDiv span {
  font-weight: bold;
  font-size: 40px;
}
.counters .col.info .allCounts .single .countDiv h2 {
  font-weight: bold;
  font-size: 40px;
}

.companyOverview {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.companyOverview .col {
  display: flex;
  flex-direction: column;
  flex: 1 300px;
  gap: 24px;
}
.companyOverview .col .title {
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 768px) {
  .companyOverview .col .title {
    font-size: 24px;
  }
}
.companyOverview .col video {
  background-color: #28283c;
  width: 100%;
  min-width: 250px;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.ourApps {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ourApps .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ourApps .info .title {
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 768px) {
  .ourApps .info .title {
    font-size: 24px;
  }
}
.ourApps .info p {
  color: rgba(255, 255, 255, 0.6);
}
.ourApps .info h6 {
  font-weight: bold;
}
.ourApps .app {
  background-color: rgba(27, 27, 44, 0.5);
  padding: 36px 12px;
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 100%;
  transition: var(--transition);
}
.ourApps .app .img {
  width: 96px;
  height: 96px;
  background-color: var(--whiteColor);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.ourApps .app .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ourApps .app h1 {
  font-weight: bold;
}
.ourApps .app:hover {
  background-color: var(--secondColor);
}

.ourServices {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ourServices .title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .ourServices .title {
    font-size: 24px;
  }
}
.ourServices p {
  color: rgba(255, 255, 255, 0.6);
}
.ourServices .services {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.ourServices .services .singleService {
  flex: 1 22%;
  min-width: 150px;
  background-color: var(--mainColor30);
  padding: 48px 12px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
}
.ourServices .services .singleService::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0%;
  background-color: var(--mainColor);
  transition: var(--transition);
  border-radius: 16px;
  z-index: -1;
}
.ourServices .services .singleService h4 {
  font-weight: bold;
}
.ourServices .services .singleService:hover::before {
  height: 100%;
}

.feedback {
  width: min(100% - 48px, 1200px);
  margin: auto;
}
.feedback .top {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.feedback .top .title {
  font-weight: bold;
  font-size: 30px;
  flex: 1 300px;
}
@media (max-width: 768px) {
  .feedback .top .title {
    font-size: 24px;
  }
}
.feedback .feed {
  height: 100%;
  width: 100%;
  background-color: var(--secondColor);
  padding: 32px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.feedback .feed .rate {
  display: flex;
  align-items: center;
  gap: 2px;
}
.feedback .feed .rate img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}
.feedback .feed .des {
  color: rgba(255, 255, 255, 0.6);
}
.feedback .feed .user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}
.feedback .feed .user img {
  width: 72px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}
.feedback .feed .user .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.feedback .feed .user .info h4 {
  font-weight: bold;
}
.feedback .feed .user .info h6 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 12px;
  background-color: #141427;
  text-align: center;
}
.contact .title {
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 768px) {
  .contact .title {
    font-size: 24px;
  }
}
.contact p {
  color: rgba(255, 255, 255, 0.8);
}
.contact form {
  position: relative;
  width: min(100% - 24px, 500px);
  margin: auto;
  margin-top: 40px;
}
.contact form input {
  width: 100%;
  min-height: 64px;
  border-radius: 64px;
  padding: 24px;
  background-color: rgba(27, 27, 44, 0.5);
  border: 1px solid rgba(158, 158, 158, 0.2);
  padding-left: 124px;
}
.contact form .btn {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}

footer {
  background-color: #0d0d23;
  margin-top: 100px;
}
footer .footer {
  padding: 40px 0;
  width: min(100% - 48px, 1000px);
  margin: auto;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
footer .footer .col {
  flex: 1 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer .col .title {
  font-weight: bold;
}
footer .footer .col .des {
  color: rgba(255, 255, 255, 0.6);
}
footer .footer .col .links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .footer .col .social {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .footer .col .social a {
  display: flex;
  min-width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  border-radius: 100px;
  border: 1px solid var(--textColor);
  transition: var(--transition);
}
footer .footer .col .social a svg {
  width: 16px;
  height: 16px;
}
footer .footer .col .social a circle,
footer .footer .col .social a path {
  fill: #777;
  transition: var(--transition);
}
footer .footer .col .social a:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  transform: translateY(-5px);
}
footer .footer .col .social a:hover circle,
footer .footer .col .social a:hover path {
  fill: var(--whiteColor);
}

.mainApp {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 72px;
}
@media (max-width: 768px) {
  .mainApp {
    flex-direction: column-reverse;
  }
}
.mainApp .col.info {
  flex: 1 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .mainApp .col.info {
    text-align: center;
    align-items: center;
    flex: auto;
  }
}
.mainApp .col.info .title {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 40px;
}
@media (max-width: 768px) {
  .mainApp .col.info .title {
    font-size: 20px;
  }
}
.mainApp .col.info h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
}
@media (max-width: 768px) {
  .mainApp .col.info h3 {
    font-size: 18px;
  }
}
.mainApp .col.imgsDiv {
  display: flex;
  flex-direction: column;
  flex: 1 300px;
  justify-content: end;
}
@media (max-width: 768px) {
  .mainApp .col.imgsDiv {
    justify-content: center;
    flex: auto;
  }
}
.mainApp .col.imgsDiv .appFrame {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 16px;
}
.mainApp .col.imgsDiv .appFrame .frame {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 500px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
}
@media (max-width: 768px) {
  .mainApp .col.imgsDiv .appFrame .frame {
    height: 400px;
    width: 200px;
  }
}
.mainApp .col.imgsDiv .appFrame .appMainImg {
  width: 250px;
  height: 500px;
  border-radius: 40px;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 768px) {
  .mainApp .col.imgsDiv .appFrame .appMainImg {
    height: 400px;
    width: 200px;
  }
}
.mainApp .col .download {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .mainApp .col .download {
    margin-top: 12px;
  }
}
.mainApp .col .download img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .mainApp .col .download img {
    height: 40px;
  }
}

.appExplane {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.appExplane .title {
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 24px;
  background-color: var(--mainColor30);
  border-radius: 12px;
}
@media (max-width: 768px) {
  .appExplane .title {
    font-size: 20px;
  }
}
.appExplane .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.appExplane .row .col {
  flex: 1 300px;
}
.appExplane .row .col.info p {
  width: min(100% - 48px, 400px);
  margin: auto;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}
@media (max-width: 768px) {
  .appExplane .row .col.info p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}
.appExplane .row .col.img img {
  min-height: 400px;
  max-height: 600px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .appExplane .row .col.img img {
    min-height: 300px;
    max-height: 400px;
  }
}
.appExplane .row:nth-child(2n) {
  flex-direction: row-reverse;
}

.downloadApp {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.downloadApp .title {
  font-weight: bold;
  font-size: 30px;
}
@media (max-width: 768px) {
  .downloadApp .title {
    font-size: 24px;
  }
}
.downloadApp .download {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .downloadApp .download {
    margin-top: 12px;
  }
}
.downloadApp .download img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .downloadApp .download img {
    height: 40px;
  }
}

.mainMarketing {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 72px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 72px;
}
@media (max-width: 768px) {
  .mainMarketing {
    padding-top: 24px;
    gap: 24px;
    flex-direction: column-reverse;
  }
}
.mainMarketing .col.info {
  flex: 4 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .mainMarketing .col.info {
    text-align: center;
    align-items: center;
  }
}
.mainMarketing .col.info .title {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 40px;
}
@media (max-width: 768px) {
  .mainMarketing .col.info .title {
    font-size: 30px;
  }
}
.mainMarketing .col.info p {
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .mainMarketing .col.info p {
    margin-top: 20px;
  }
}
.mainMarketing .col.img {
  display: flex;
  flex: 3 300px;
  justify-content: end;
}
@media (max-width: 768px) {
  .mainMarketing .col.img {
    justify-content: center;
  }
}
.mainMarketing .col.img img {
  background-color: #28283c;
  height: 500px;
  aspect-ratio: 8/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 72px;
}
@media (max-width: 768px) {
  .mainMarketing .col.img img {
    height: 350px;
  }
}

.investmentBanner {
  padding: 100px 30px;
  border-radius: 40px;
  background-color: #1b1b2c;
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  margin-top: 100px;
  align-items: center;
  position: relative;
  isolation: isolate;
}
@media (max-width: 768px) {
  .investmentBanner {
    padding: 50px 20px;
    margin-top: 50px;
  }
}
.investmentBanner .title {
  font-weight: bold;
  font-size: 30px;
  width: min(100% - 48px, 600px);
  line-height: 50px;
}
@media (max-width: 768px) {
  .investmentBanner .title {
    font-size: 20px;
    line-height: 40px;
  }
}
.investmentBanner .videoBG,
.investmentBanner .imgBG {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.investmentCounters {
  background-color: #28283C;
  padding: 150px 0;
  position: relative;
  isolation: isolate;
}
.investmentCounters .imgBG {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.investmentCounters .inner {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.investmentCounters .inner .col {
  flex: 1 30%;
  min-width: 150px;
  text-align: center;
}
.investmentCounters .inner .col .countDiv {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}
.investmentCounters .inner .col .countDiv span,
.investmentCounters .inner .col .countDiv h2 {
  font-weight: bold;
  font-size: 50px;
  color: var(--whiteColor);
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .investmentCounters .inner .col .countDiv span,
  .investmentCounters .inner .col .countDiv h2 {
    font-size: 30px;
  }
}
.investmentCounters .inner .col p {
  margin-top: 20px;
}

.ourInvestors {
  width: min(100% - 48px, 1200px);
  margin: auto;
}
.ourInvestors .top {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.ourInvestors .top .title {
  font-weight: bold;
  font-size: 30px;
  flex: 1 300px;
}
@media (max-width: 768px) {
  .ourInvestors .top .title {
    font-size: 24px;
  }
}
.ourInvestors .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.ourInvestors .investor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.ourInvestors .investor .img {
  width: 96px;
  height: 96px;
  border-radius: 100px;
  background-color: var(--whiteColor);
  padding: 20px;
  position: relative;
  z-index: 2;
}
.ourInvestors .investor .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ourInvestors .investor .name {
  background-color: var(--mainColor30);
  padding: 24px;
  flex: 1;
  margin-right: -30px;
  padding-right: 48px;
  border-radius: 16px;
}
.ourInvestors .investor .name h4 {
  font-weight: bold;
}

.investmentTitle {
  font-weight: bold;
  font-size: 40px;
  width: min(100% - 48px, 600px);
  line-height: 50px;
  margin: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .investmentTitle {
    font-size: 30px;
    line-height: 40px;
  }
}

.aboutUs {
  width: min(100% - 48px, 1000px);
  margin: auto;
  display: flex;
  flex-direction: column;
}
.aboutUs .row {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
@media (max-width: 668px) {
  .aboutUs .row {
    text-align: center;
  }
}
.aboutUs .row .col {
  flex: 1 300px;
}
.aboutUs .row .col.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.aboutUs .row .col.info .title {
  font-weight: bold;
  font-size: 36px;
}
@media (max-width: 768px) {
  .aboutUs .row .col.info .title {
    font-size: 24px;
  }
}
.aboutUs .row .col.info .des {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
}
.aboutUs .row .col.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs .row .col.img img {
  height: 500px;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .aboutUs .row .col.img img {
    height: 300px;
  }
}
.aboutUs .row:nth-child(2n) {
  flex-direction: row-reverse;
}

.ourTeam .info {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: min(100% - 48px, 1000px);
  margin: auto;
  text-align: center;
}
.ourTeam .info .title {
  font-weight: bold;
  font-size: 42px;
}
@media (max-width: 768px) {
  .ourTeam .info .title {
    font-size: 28px;
  }
}
.ourTeam .info .des {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  font-size: 24px;
}
.ourTeam .Co-Founder {
  display: flex;
}
@media (max-width: 768px) {
  .ourTeam .Co-Founder {
    flex-direction: column;
  }
}
.ourTeam .Co-Founder .image {
  flex: 1;
}
.ourTeam .Co-Founder .image img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
}
.ourTeam .Co-Founder .data {
  min-height: 200px;
  background-color: rgba(163, 119, 170, 0.3490196078);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.ourTeam .Co-Founder .data .name {
  font-weight: bold;
  padding: 0 16px;
}
.ourTeam .Co-Founder .data .job {
  padding: 0 16px;
}
.ourTeam .team {
  display: flex;
  flex-wrap: wrap;
}
.ourTeam .team .member {
  flex: 0 50%;
  display: flex;
  flex-direction: row-reverse;
}
.ourTeam .team .member:nth-child(4n+3) {
  flex-direction: row;
}
.ourTeam .team .member:nth-child(4n+4) {
  flex-direction: row;
}
.ourTeam .team .member .image {
  flex: 1;
}
.ourTeam .team .member .image img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}
.ourTeam .team .member .data {
  min-height: 200px;
  background-color: rgba(132, 81, 152, 0.1607843137);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.ourTeam .team .member .data .name {
  font-weight: bold;
  padding: 0 16px;
}
.ourTeam .team .member .data .job {
  padding: 0 16px;
}
@media (max-width: 768px) {
  .ourTeam .team .member {
    flex-direction: column !important;
    padding: 4px;
  }
  .ourTeam .team .member .image img {
    height: 200px;
  }
}

.pricingPage {
  padding-top: 100px;
}
.pricingPage .topInfo {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.pricingPage .topInfo .col {
  display: flex;
  flex-direction: column;
  flex: 1 300px;
  gap: 24px;
}
.pricingPage .topInfo .col .title {
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 768px) {
  .pricingPage .topInfo .col .title {
    font-size: 24px;
  }
}
.pricingPage .topInfo .col video {
  background-color: #28283c;
  width: 100%;
  min-width: 250px;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.pricingPage .topInfo .col .groupBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.pricingPage .topInfo .col .groupBtns .btn2 {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  padding: 12px 36px;
  font-weight: bold;
  border-radius: 100px;
}
.pricingPage .midBanner {
  padding: 150px 50px 200px;
  background-size: cover cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.pricingPage .midBanner h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.pricingPage .packages {
  margin-top: -50px;
  padding: 0 10px;
  overflow: hidden;
}
.pricingPage .packages .inner {
  width: min(100% - 48px, 1200px);
  margin: auto;
}
.pricingPage .packages .inner .packageSlider {
  overflow: visible;
  padding-bottom: 30px;
}
.pricingPage .packages .inner .packageSlider .swiper-slide {
  align-items: start;
}
.pricingPage .packages .inner .singlePackage {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.pricingPage .packages .inner .singlePackage .packTop {
  background-color: var(--whiteColor);
  padding: 48px;
  padding-bottom: 80px;
  border-radius: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.pricingPage .packages .inner .singlePackage .packTop .name {
  color: var(--blackColor);
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pricingPage .packages .inner .singlePackage .packTop .name::after {
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 10px;
  width: min(100% - 24px);
  margin: auto;
}
.pricingPage .packages .inner .singlePackage .packTop .name.gold::after {
  background: linear-gradient(60deg, #cea726, #ffebac, #cea726);
}
.pricingPage .packages .inner .singlePackage .packTop .name.silver::after {
  background: linear-gradient(60deg, #827f7d, #d7d4d2, #827f7d);
}
.pricingPage .packages .inner .singlePackage .packTop .name.bronze::after {
  background: linear-gradient(60deg, #b56131, #efa453, #b56131);
}
.pricingPage .packages .inner .singlePackage .packTop .price {
  font-size: 40px;
  color: var(--mainColor);
  font-weight: bold;
}
.pricingPage .packages .inner .singlePackage .packTop .price span {
  font-size: 16px;
  font-weight: normal;
}
.pricingPage .packages .inner .singlePackage .packTop button {
  padding: 16px 48px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 100px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.pricingPage .packages .inner .singlePackage .include {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 48px;
}
.pricingPage .packages .inner .singlePackage .packData {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.pricingPage .packages .inner .singlePackage .packData p {
  padding: 20px 24px;
  border-radius: 16px;
}
.pricingPage .packages .inner .singlePackage .packData p:nth-child(2n) {
  background-color: rgba(163, 119, 170, 0.2);
}
@media (min-width: 768px) {
  .pricingPage .packages .inner .swiperControl {
    display: none;
  }
}
.pricingPage .companies {
  width: min(100% - 48px, 1200px);
  margin: auto;
  display: flex;
  gap: 30px;
  margin-top: 100px;
}
@media (max-width: 992px) {
  .pricingPage .companies {
    flex-direction: column;
  }
}
.pricingPage .companies .swiperContainer {
  min-width: 200px;
  flex: 4;
}
.pricingPage .companies .company {
  background-color: rgba(27, 27, 44, 0.5);
  padding: 36px 12px;
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 100%;
  transition: var(--transition);
}
.pricingPage .companies .company .img {
  width: 96px;
  height: 96px;
  background-color: var(--whiteColor);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.pricingPage .companies .company .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.pricingPage .companies .company:hover {
  background-color: var(--secondColor);
}
.pricingPage .companies .total {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.pricingPage .companies .total .odometer {
  font-size: 100px;
  font-weight: bold;
  color: var(--mainColor);
}
@media (max-width: 992px) {
  .pricingPage .companies .total .odometer {
    font-size: 70px;
  }
}
.pricingPage .companies .total h2 {
  font-weight: bold;
}
.pricingPage .companies .total button {
  padding: 16px 48px;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 100px;
}
.pricingPage .strategicPartner {
  width: min(100% - 48px, 1200px);
  margin: auto;
  margin-top: 200px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}
.pricingPage .strategicPartner .data {
  flex: 1 200px;
}
.pricingPage .strategicPartner .data h1 {
  font-weight: bold;
}
.pricingPage .strategicPartner .data h3 {
  font-weight: bold;
}
.pricingPage .strategicPartner .logos {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.pricingPage .strategicPartner .logos span {
  background-color: #d9d9d9;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex: 1;
  justify-content: center;
}
.pricingPage .strategicPartner .logos span img {
  height: 60px;
  min-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal {
  position: fixed;
  display: flex;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
}
.modal .modalContent {
  background-color: #fefefe;
  width: min(100% - 40px, 500px);
  margin: auto;
  border: 1px solid #888;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.modal .modalContent .modalHeader {
  background-color: var(--blackColor);
  color: white;
  padding: 10px 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .modalContent .modalBody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal .modalContent .modalBody .title {
  color: var(--blackColor);
  font-weight: bold;
  text-transform: uppercase;
}
.modal .modalContent .modalBody form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal .modalContent .modalBody form .inputGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal .modalContent .modalBody form input {
  min-height: 54px;
  border: 1px solid #eee;
  padding: 12px 24px;
  border-radius: 8px;
}
.modal .modalContent .modalBody form label {
  font-weight: bold;
  color: var(--blackColor);
}
.modal .modalContent .modalBody form .btn {
  background-color: var(--mainColor);
  width: 100%;
  border-radius: 8px;
}
.modal .closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: var(--transition);
}
.modal .closeModal:hover, .modal .closeModal:focus {
  color: var(--whiteColor);
  text-decoration: none;
  cursor: pointer;
}

.showModal {
  opacity: 1;
  visibility: visible;
}

/* PC device :992px. */
@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
  p {
    font-size: 14px;
  }
}
/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 992px) {
  /* Global */
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  a,
  p {
    font-size: 14px;
  }
}
/* small mobile :320px. */
@media (max-width: 768px) {
  /* Global */
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  a,
  p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */